@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme("colors.cream.DEFAULT");
  --foreground: theme("colors.black.DEFAULT");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

p {
  font-family: var(--font-ibm-plex);
}
